EXPOSED_SERVER_PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/yahl
REDIS_URL=redis://127.0.0.1:6379

CORS_ORIGIN=
COOKIE_PARSER_SECRET=dev-cookie-secret
REQUEST_TIMEOUT_IN_SECONDS=60
HIDE_ERROR_STACK=false
